 <div class='go'>
   <a target="_blank" href="{{ad['url']}}">
   
      <section class='go-content'>
         <section class='go-image'>
            <img src="{{ad['image']}}"/>
         </section>
         <section class='go-body'>
            <p class='go-title'>{{ad['title']}}</p>
            <p class='go-description'>{{ad['description']}}
            <p class='go-link'>
               <a target="_blank" href="{{ad['url']}}">Learn more</a>
            </p>
         </section>
         {% if not ad['hide_price']%}
         <section class='go-price'>
            <p>${{ad['price']}}</p>
         </section>
         {%endif%}
      </section>
   </a>
 </div>