 <div class='ad'>
   <a target="_blank" href="{{ad['url']}}">
   
      <section class='ad-content'>
         <section class='ad-image'>
            <img src="{{ad['image']}}"/>
         </section>
         <section class='ad-body'>
            <p class='ad-title'>{{ad['title']}}</p>
            <p class='ad-description'>{{ad['description']}}
            <p class='ad-link'>
               <a target="_blank" href="{{ad['url']}}">Learn more</a>
            </p>
         </section>
         <section class='ad-price'>
            <p>${{ad['price']}}</p>
         </section>
      </section>
   </a>
 </div>