<div class='table-container'>
    <table class="{{table.units}}-units data-table table is-striped is-narrow is-hoverable is-fullwidth" v-if="{{table.units}}_visible">
        <caption>{{meta.title}}</caption>
        <tbody>
            {% for row in table.rows %}
                {% if (row.section in row.type) and row.type %}
                    <tr>
                    <td colspan="{{cols}}"><b>{{row.section}}</b></td>
                    </tr>
                {% endif %}
                {% if row.id != "0" %}
                    <tr id="{{row.id}}">
                {% else %}
                    <tr>
                {% endif %}
                {%for column in row.data %}
                    {% if 'ACRONYM' in row.section and column.type == "Term" %}
                        <td><a href="#{{column.data}}">{{column.data}}</a></td>
                    {% else %}
                        <td>{{column.data}}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>