
<div class='table-container'>
    {% for row in table.rows %} 
        {% if (row.section in row.type) and row.type %}
            {% if 'DESCRIPTION' in row.section %}
                </tbody>
                </table>
                <br>
            {% endif %}
            <table class="{{table.units}}-units data-table table is-striped is-hoverable is-fullwidth fixed-header" v-if="{{table.units}}_visible">
            <caption class="table-caption">{{row.section}}</caption>
            <thead>
            <tr>
            {% for heading in table.headings %} 
                <th>{{heading}}</th>
            {% endfor %}
            </tr>
            </thead>
            <tbody>
        {% endif %}
        {% if row.id != "0" %}
            <tr id="{{row.id}}">
        {% else %}
            <tr>
        {% endif %}
        {%for column in row.data %}
            {% if 'ACRONYM' in row.section and column.type == "Term" %}
                <td><a href="#{{column.data}}">{{column.data}}</a></td>
            {% elif 'Section' in column.type and row.link %}
                <td><a href="{{row.link}}">{{column.data}}</a></td>
            {% else %}
                <td>{{column.data}}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>