<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/statics/style.css">
    <link rel=icon href=/images/favicon.ico>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.0/c3.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.0/c3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.es6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='/javascript/vue{{options.minified}}.js'></script>

    <meta http-equiv=X-UA-Compatible content="IE=edge"/>
    <meta name=viewport content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BYDF9G5TWW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-BYDF9G5TWW');
    </script>
    {% if node.metadata and node.metadata['description'] %}
        <meta name="Description" content="{{node.metadata['description']}}"/>
    {% endif %}
    <title>HI EDL</title>
    
    {% endblock %}
</head>

<script type="text/x-template" id="viscosity-converter-template">
    <div>
    <form>
        <div class='field'>
            <label class='label'>
                <span>Convert from</span>
            </label>
            <div class='columns'>
                <div class='column'>
                    <input class='input' v-model='from_value'/>
                </div>
                <div class='column'>
                    <select  class="input" v-model='from_unit'>
                        <option :value='u' v-for='u in units.filter(function(u){return u.no_input != true;})' :key='u.id' v-html='u.label'></option>
                    </select>
                </div>
            </div>
        </div>
        <div class='field'>  
            <label class='label'>
                <span>To</span>
            </label>
            <div class='columns'>
                <div class='column'>
                    <select  class="input" v-model='to_unit'>
                        <option :value='u' v-for='u in units' :key='u.id' v-html='u.label'></option>
                    </select>                   
                </div>
                <div class='column'    v-if='show_sg'>
                    <div class="columns">
                        <div class='column'>
                            <label class='label'>
                                <span>w/ SG</span>
                            </label>
                        </div>
                        <div class='column'>
                            <input class='input' v-model='sg'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" v-if='to_unit'>
            <div class='column has-background-info has-text-weight-semibold' style='margin-bottom:1rem'>
                <span class='has-text-warning' style='margin-right:0.1em;'>${from_value} ${from_unit.label}</span>
                <span class='has-text-warning' style='margin-right:0.1em;' v-if='show_sg'>with ${sg} SG</span>
                <span class='has-text-white-bis' style='margin-right:0.1em;'>is equal to ${to_value} ${to_unit.label}</span>
                <p v-if='kinematic_warning' class='has-text-danger'>${kinematic_warning}</p>
            </div>
        </div>
    </form>
    <div v-if='steps.length'>
        <button type='button' class="button is-small is-link is-light" v-if='show_steps' @click='show_steps=false'>Hide Steps</button>
        <button type='button' class="button is-small is-link is-light" v-else @click='show_steps=true'>Show Steps</button>
        <button type='button' class='button is-small' @click='swap()'>Swap from/to units</button>
        <div style='padding-top:1rem;' v-if='show_steps'>
            <pre v-for="step in steps">${step}</pre>
        </div>
    </div>
    
    </div>
</script>


<script type="text/x-template" id="converter-template">
    <form>
        <div class='columns'>
            <div class='column'>
                <nav class="panel">
                    <p class="panel-heading" style='margin-bottom:0px'>Measures </p>
                    <a :class='{isActive: u == unit}' v-for='u in units' class='panel-block' @click='unit = u'>
                        <span class='panel-icon'>
                            <img :src='"/images/"+u.image'/>
                        </span>
                        <span>${u.measure}</span>
                    </a>
                </nav>
            </div>
            <div class='column'>
                <nav class="panel" v-if='unit'>
                <button @click='swap' type="button" style="float:right;margin-right:1rem;margin-top:0.5rem" class="button is-small is-link is-light">Swap</button>
                    
                    <p class="panel-heading" style='margin-bottom:0px'>${unit.measure}</p>
                    <div class='panel-block'>
                        
                        <div class='field'>
                        
                           <label class='label'>
                                <span>From</span>
                                
                            </label>
                            <div class='columns'>
                                <div class='column'>
                                    <input class='input' v-model='from'/>
                                </div>
                                <div class='column'>
                                    <select  class="input" v-model='unit_from'>
                                        <option :value='u' v-for='u in unit.units' v-html='u.label'></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                      </div>
                    <div class='panel-block'>
                        <div class='field'>
                            <label class='label'>
                                <span>To</span>
                                
                            </label>
                            <div class='columns'>
                                <div class='column'>
                                    <input class='input' v-model='to' readonly disabled/>
                                </div>
                                <div class='column'>
                                    <select  class="input" v-model='unit_to'>
                                        <option :value='u' v-for='u in unit.units' v-html='u.label'></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </form>
</script>

<script type="text/x-template" id="friction-loss-calculator-template">
	<form>
        <div class='field'>
                    <label class='label'>Select Material</label>
                    <select  class="input" v-model='material'>
                        <option value=''></option>
                        <option :value='m' v-for='m in materials'>${m}</option>
                    </select>

                </div>
        <div class='columns'>
            <div class='column'>
                
                <div class='field' v-if='sizes && sizes.length'>
                    <label class='label'>Select Nominal Size (${units_length_long})</label>
                    <select class='input'v-model='nominal_size'>
                        <option value=''></option>
                        <option :value='m' v-for='m in sizes'>${m}</option>
                    </select>
                </div>
                <div class='field' v-if='selector'>
                    <label class='label'>Select ${selector}</label>
                    <select class='input' v-model='selection'>
                        <option value=''></option>
                        <option :value='m' v-for='m in selectors'>${m}</option>
                    </select>
                </div>
                <hr/>
                <div v-if='specified'>
                    <div class='field'>
                        <label class='label'>Nominal Outside Diameter (${units_length_short})</label>
                        <span> ${value_length_short(outer_diameter)}</span>
                    </div>
                    <div class='field'>
                        <label class='label'>Inside Diameter (${units_length_short})</label>
                        <span> ${value_length_short(inner_diameter)}</span>
                    </div>
                    <div class='field'>
                        <label class='label'>Absolute roughness (epsilon)</label>
                        <span> ${value_length_ft_mm(epsilon, 7)} ${units_length_ftmm}</span>
                    </div>
                    <div class='field'>
                        <label class='label'>Relative roughness (epsilon/D)</label>
                        <span> ${(epsilon/(inner_diameter/12)).toFixed(5)}</span>
                    </div>
                </div>
            </div>
        
            <div class='column'>
            <div v-if='entry'>
                <div class='field'>
                    <label class='label' >Flow Rate (${units_flowrate})</label>
                    <input class='input' type='number' @keydown='no_negative' min="0" step='0.01' v-model='flow'/>
                </div>
                <div class='field'>
                    <label class='label' >Pipe Length (${units_length_long})</label>
                    <input class='input' type='number' @keydown='no_negative' min="0" step='0.01' v-model='length'/>
                </div>
                <hr/>
                <div class='field'>
                    <label class='label' >Viscosity</label>
                    <div class='control'>
                        
                        <label class='radio'>
                            <input type='radio' name = 'viscosity_mode' @keydown='no_negative' min="0" value='kinematic' v-model='vka'/>
                            Kinematic
                        </label>
                        <label class='radio'>
                            <input type='radio' name = 'viscosity_mode' value='absolute' v-model='vka'/>
                            Dynamic (absolute)
                        </label>
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>Kinematic Viscosity (cSt)</label>
                    <input class='input' :disabled="vka == 'absolute'" type='number' @keydown='no_negative' min="0" step='0.01' v-model='input_kinematic_v'/>
                </div>
                
                <div class='field'>
                    <label class='label'>Dynamic (absolute) Viscosity (cP)</label>
                    <input class='input' :disabled="vka != 'absolute'" type='number' @keydown='no_negative' min="0" step='0.01' v-model='input_dynamic_v'/>
                </div>
                
                <div class='field'>
                    <label class='label'>Specific Gravity</label>
                    <input class='input' :disabled="vka != 'absolute'" type='number' @keydown='no_negative' min="0" step='0.01' v-model='sg'/>
                </div>
           </div>
         </div>
         <hr/>
        </div>
         <div v-if='entry && results_revision.length'>
            <table>
                <thead>
                    <tr>
                        <th style="text-align:center">Flowrate</th>
                        <th style="text-align:center">Fluid Velocity</th>
                        <th style="text-align:center">Velocity Head</th>
                        <th style="text-align:center">Reynolds Number</th>
                        <th style="text-align:center">Flow Regime</th>
                        <th style="text-align:center">Friction Factor</th>
                        <th style="text-align:center">Head Loss</th>
                    </tr>
                     <tr>
                        <th style="text-align:center">(${units_flowrate})</th>
                        <th style="text-align:center"><b>V</b>&nbsp;&nbsp;(${units_velocity})</th>
                        <th style="text-align:center"><b>V<sup>2</sup>/2g</b>&nbsp;&nbsp;(${units_length_long})</th>
                        <th style="text-align:center"><b>Re</b></th>
                        <th style="text-align:center"></th>
                        <th style="text-align:center">f</th>
                        <th style="text-align:center">h<sub>f</sub> (${units_length_long})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='sample in results_revision' :class="{reference_flow: sample.reference}">
                        <td style="text-align:center"><unit-value :value="value_flowrate(sample.flow)"/></td>
                        <td style="text-align:center"><unit-value :value="value_velocity(sample.velocity)"/></td>
                        <td style="text-align:center"><unit-value :value="value_length_long(sample.velocity * sample.velocity / (2 * 32.17))"/></td>
                        <td style="text-align:center">${sample.reynolds}</td>
                        <td style="text-align:center">
                            <span v-if='sample.laminar'>Laminar</span>
                            <span v-else>Turbulent</span>
                        </td>
                        <td style="text-align:center">
                            <span><unit-value :value="sample.friction_loss"/></span>
                        </td>
                        <td style="text-align:center">
                            <span><unit-value :value="value_length_long(sample.head_loss)"/></span>
                        </td>
                    </tr>
                </tbody>
            </table>
         </div>

    </form>
</script>

<script type="text/x-template" id="mechanical-friction-loss-calculator-template">
    <div>
        <form>
            <div class='columns'>
                <div class='column'>
                    <div class='columns'>
                        <div class='column'>
                            <div class='field'>
                                <label class='label'>
                                    <span>Shaft Diameter [D] (${shaft_min}-${shaft_max} ${units_measure_in_mm})</span>
                                </label>
                                <div>
                                    <input class='input' type='number' @keydown='no_negative' v-model='shaft_diameter'/>
                                    <span v-if='msg.shaft' style="color:red; font-size:smaller"><i>${msg.shaft}</i></span>
                                    <span v-else>&nbsp;</span>
                                </div>
                            </div>
                            <div class='field'>
                                <label class='label'>
                                    <span>Speed (${rpm_min}-${rpm_max} RPM)</span>
                                </label>
                                <div>
                                    <input class='input' type='number' @keydown='no_negative' v-model='rpm_value'/>
                                    <span v-if='msg.rpm' style="color:red; font-size:smaller"><i>${msg.rpm}</i></span>
                                    <span v-else>&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='field'>
                                <label class='label' >Pump Length [L] (${units_measure_ft_m})</label>
                                <input class='input' type='number' @keydown='no_negative' min="0" step="5" v-model='length'/>
                                <span>&nbsp;</span>
                            </div>
                            <div class='field'>
                                <label class='label'>
                                    <span>Bearing Spacing</span>
                                </label>
                                <div class='control'>
                                    <label class='radio'>
                                        <input type='radio' name = 'bearing_spacing' value='10' v-model='bearing_spacing'/>
                                        ${value_bearing_spacing(10)} ${units_measure_ft_m}
                                    </label>
                                    <label class='radio'>
                                        <input type='radio' name = 'bearing_spacing' value='5' v-model='bearing_spacing'/>
                                        ${value_bearing_spacing(5)} ${units_measure_ft_m}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='mt-2'>
                    </div>
                    <div class='mt-4'>
                        <div class="field">
                            <div class='column has-background-info has-text-weight-semibold' style='margin-bottom:1rem'>
                                <span class='has-text-warning' style='margin-right:0.1em;'>Mechanical Friction Loss (${units_friction_loss}): </span>
                                <span v-bind:class = "mech_friction_loss?'has-text-white-bis':'has-text-danger'">${mech_friction_loss} ${units_friction_loss}</span>
                            </div>
                        </div>
                        <div class="field">
                            <div class='column has-background-info has-text-weight-semibold' style='margin-bottom:1rem'>
                                <span class='has-text-warning' style='margin-right:0.1em;'>Mechanical Friction Loss (${units_friction}): </span>
                                <span v-bind:class = "mech_friction?'has-text-white-bis':'has-text-danger'">${mech_friction} ${units_friction}</span>
                            </div>
                        </div>
                    </div> 
                </div>    
                <div class='column' align='center'>
                    <img alt='Hydraulic Institute' src="/images/mechanical-friction-loss-calculator-pump.jpg" style="max-height:100vh">     
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/x-template" id="tank-demo-template"> 
    <div class="wrap">  
        <div class="row">
            <div class="columns">
                <div class="col-8">
                    <div class="row mt-2">
                        <div class="col">
                        <div class="row mt-2 mb-2">
                            <div class="col-4">Tank Orientation</div>
                            <div class="col-4">${tank_type}</div>
                        </div>
                        <div v-for='c in volume_strings'>
                            <div v-if='c.type' class="row align-items-center">
                                <div class="col-4">
                                <b>${c.type}</b>
                                </div>
                                <div class="col-4">
                                    <select  class="input" style="min-width:120px;" v-model="$data[c.varname]">
                                        <option :value='b' v-for='b in end_types'>${b}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4"><b>Length Units</b></div>
                            <div class="col-4">
                                <select  class="input" style="min-width:120px;" v-model='length_unit'>
                                    <option :value='l' v-for='l in length_types'>${l}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <b>Tank Diameter: [D]</b>  
                            </div>
                            <div class="col-4">
                            <input class='input' style="min-width:120px;"
                            type='number' 
                            @keydown='no_negative_no_comma' 
                            @keydown.enter="calculate_volumes"
                            @keydown.tab="calculate_volumes"
                            @click="calculate_volumes"
                            v-model='d_diameter'/></div>
                            <div class="col-2" style="text-align:left">
                            ${length_unit}
                            </div>
                        </div>
                        <div class="row align-items-center" v-if='tank_key != "st"'>
                            <div class="col-4"><b>Length of Cylinder: [A]</b></div>
                            <div class="col-4">
                            <input class='input' style="min-width:120px;"
                            type='number' 
                            @keydown='no_negative_no_comma' 
                            @keydown.enter="calculate_volumes"
                            @keydown.tab="calculate_volumes"
                            @click="calculate_volumes"
                            v-model='a_length'/>
                            </div>
                            <div class="col-2" style="text-align:left">
                            ${length_unit}
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4" ><b>Fill depth from bottom: [H]</b></div>
                            <div class="col-4">
                            <input class='input' style="min-width:120px;"
                            type='number' 
                            @keydown='no_negative_no_comma' 
                            @keydown.enter="calculate_volumes()"
                            @keydown.tab="calculate_volumes()"
                            @click="calculate_volumes()"
                            v-model='h_filldepth'/>
                            </div>
                            <div class="col-2" style="text-align:left">
                            ${length_unit}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4"><i>Percent full</i></div>
                            <div class="col-4">${percent_full}%</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">Check Depth</div>
                            <div class="col-4">
                                <span v-if='check_depth == 1'><i>OK</i></span>
                                <span v-else style="color:red"><i>Too Full</i></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                    </div>
                </div>
                <div class="col-4"><img :src='image_str' @error="image_str='/images/image_not_available.png'"/></div>
            </div>
        </div>
        <div class="row mt-4">
            <table class="table table-bordered is-narrow is-hoverable is-fullwidth" style="border-width:2px">
                <thead>
                    <tr>
                        <th scope="col" style="width: 30%; vertical-align:bottom;text-align: center;">Location</th>
                        <th scope="col" style="width: 30%; vertical-align:bottom; text-align:center">Volume without Unit Conversions</th>
                        <th scope="col" style="width: 30%; text-align:center">Volume with Unit Conversions
                            <div>
                            <span style="vertical-align: -webkit-baseline-middle;">Select: </span>
                                <select class="input" style="width:150px;" v-model='conversion_unit'>
                                    <option :value='c' v-for='c in conversion_types'>${c}</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='c in volume_strings'>
                        <td  style="text-align: center">${c.desc}</td>
                        <td style="text-align: center">
                            ${c.value} Cubic ${length_unit}
                        </td>
                        <td colspan="2" style="text-align: center">
                            ${c.converted_value} ${conversion_unit}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-4">
            <b>Volume Equations</b>
        </div>
        <div v-for='(value, name) in volume_equations_data' v-if='name == tank_key'>
            <div v-for='item in value'>
                <div class="row align-items-center">
                    <div class="col-3">
                        <b>${item.type}</b>
                    </div>
                    <div class="col-3 mt-2"><img :src="'/images/'+item.image"/></div>
                    <div class="col"><img :src="'/images/'+item.equation"/></div>
                </div>
            </div>
        </div>
    </div>
</script>

<body class="has-navbar-fixed-top">

    <div id='vue'>
        <nav id='main-nav' class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-dark" style='margin-top:0.25rem; background-color:transparent' aria-haspopup="true" aria-controls="dropdown-menu4">
                        <img alt='Hydraulic Instituted' src="/images/logo.png" width="30">
                        <h2> Engineering Data Library<span class="margin-left:2rem">
                            &#x25BC;
                        </span></h2>
                        
                        </button>
                        </button>
                    </div>
                    <div class="dropdown-menu is-dark" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                         <a href="http://pumps.org/" class="dropdown-item">Hydraulic Institute</a>
                         <a href="/" class="dropdown-item">Engineering Data Library</a>
                         <a href="http://pumps.org/Standards_and_Guidebooks.aspx" class="dropdown-item">Publications</a>
                         <a href="http://pumps.org/Training.aspx" class="dropdown-item">Training</a>
                         <a href="http://pumps.org/Certification.aspx" class="dropdown-item">Certification</a>
                         <a href="http://pumps.org/Contact_Us.aspx" class="dropdown-item">Contact Us</a>
                         <a href="/about/contributors.html" class="dropdown-item">About Us</a>
                        </div>
                    </div>
                </div>
                <!--
                <a class="navbar-item" href="/">
                    <img alt='Hydraulic Instituted' src="/images/logo.png" width="30">
                    <h2> Engineering Data Library</h2>
                </a>
                -->
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                
                    <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-dark" style='margin-top:0.25rem; background-color:transparent' aria-haspopup="true" aria-controls="dropdown-menu4">
                        <h2> Tools<span class="margin-left:2rem">
                            &#x25BC;
                        </span></h2>
                        </button>
                        </button>
                    </div>
                    <div class="dropdown-menu is-dark" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                         <a href="/tools/unit-conversions.html" class="dropdown-item">Unit Conversions</a>
                         <a href="/tools/viscosity.html" class="dropdown-item">Kinematic and Dynamic Viscosity Conversion</a>
                         <a href="/tools/frictional-losses.html" class="dropdown-item">Frictional Loss Calculator</a>
                         <!--a href="/useful-info-V/mechanical-friction-loss.html" class="dropdown-item">Mechanical Friction Loss Calculator</a-->
                         <a href="/tools/table-of-definitions.html" class="dropdown-item">Table of Definitions</a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="navbar-end">
                    <div class="columns">
                        <!--
                         <div class="navbar-item pad-horizontal">
                          <div class='buttons'>
                            <a class='button is-info' title='Download PDF' target='_blank' href='./statics/edb.pdf'>PDF</a>
                          </div>
                        </div>
                        -->
                        <div class="navbar-item pad-horizontal">
                            {% if not node or not node['metadata']['hide_units'] %} 
                            <div id="units-toggle" class="buttons">
                                <button v-if='unit_set=="us"' class='button is-warning is-outlined' title='Click to change to metric units' @click='to_metric'>US</button>
                                <button v-else class='button is-warning' @click='to_us' title='Click to change to U.S. customary units'>Metric</button>
                            </div>                                
                            {%endif%}
                        </div>
                        <div class="navbar-item pad-horizontal is-hidden-desktop">
                            <div class='sticky_search'>
                                <div class='field has-addons'>
                                    <div class='control'>
                                        <input v-model='needle' class="input" type="text" placeholder="Search"/>
                                    </div>
                                    <div v-if='needle' class='control'>
                                        <a class='button is-info' @click='needle=""'> &times; </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <aside class='sidebar navbar-item column is-hidden-desktop'>
                            <div v-if='marks && marks.length'>
                                <p class="menu-label">${mark_index+1} of ${marks.length} matches in current topic</p>
                                <div class='buttons'>
                                    <span class="menu-label">Navigate current topics
                                    <button class='button is-info' :disabled='mark_index <= 0' v-on:click='mark_jump_back'>&lt;</button>
                                    <button class='button is-info' :disabled='mark_index >= marks.length-1' v-on:click='mark_jump_next'>&gt;</button>
                                </div>
                            </div>
                            <ul class='search-results' v-if='search_display'>
                                <li class="menu-list" v-if='!search_results.length'>
                                    <span class="menu-label">Nothing match was found</span>
                                </li>
                                <li class="menu-list" v-if='search_results.length'>
                                    <span class="menu-label">${search_results.length} topic matches</span>
                                </li>
                                <li>
                                    
                                </li>
                                <li class="menu-list" v-if='search_results.length' v-for='topic in results_for_display'>
                                    <a :href="topic.path+'.html'" :class='{"is-active": topic.slug == "{{node["slug"]}}"}'>${topic.title}</a>
                                </li>
                            </ul>
                            
                            <ul v-else data-section="{{section}}" data-topic="{{topic}}">
                                {% for section in sections|sort(attribute='sort') %} 
                                    <li>
                                        <label class="menu-label">{{section['metadata']['title']}}</label>
                                        <ul>
                                            {% for topic in section['children']|sort(attribute='sort') %}
                                                {% if topic['metadata']['title']%}
                                                <li class="menu-list">
                                                    <a href="/{{ section['slug'] }}/{{ topic['slug'] }}.html">{{topic['metadata']['title']}}</a>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                </div>
            </div>
        </nav>
        <div class="page columns is-fullheight">
           <div id='sidebar' class="sidebar column is-narrow is-hidden-touch">
                <aside id="navigation" class="menu">
                    <div class='sticky_search'>
                        <div class='field has-addons'>
                            <div class='control'>
                                <input v-model='needle' class="input" type="text" placeholder="Search"/>
                            </div>
                            <div v-if='needle' class='control'>
                                <a class='button is-info' @click='needle=""'> &times; </a>
                            </div>
                        </div>
                    </div>
                    <div v-if='marks && marks.length'>
                        <p class="menu-label">${mark_index+1} of ${marks.length} matches in current topic</p>
                        <div class='buttons'>
                            <span class="menu-label">Navigate current topics
                            <button class='button is-info' :disabled='mark_index <= 0' v-on:click='mark_jump_back'>&lt;</button>
                            <button class='button is-info' :disabled='mark_index >= marks.length-1' v-on:click='mark_jump_next'>&gt;</button>
                        </div>
                    </div>
                    <ul class='search-results' v-if='search_display'>
                        <li class="menu-list" v-if='!search_results.length'>
                            <span class="menu-label">Nothing match was found</span>
                        </li>
                        <li class="menu-list" v-if='search_results.length'>
                            <span class="menu-label">${search_results.length} topic matches</span>
                        </li>
                        <li class="menu-list" v-if='search_results.length' v-for='topic in results_for_display'>
                            <a :href="topic.path+'.html'" :class='{"is-active": topic.slug == "{{node["slug"]}}"}'>
                                <span style='font-size:smaller'>${topic.section}</span> <br/> ${topic.title}
                            </a>
                        </li>
                    </ul>
                    
                    <ul class='topic-list' v-else data-section="{{section}}" data-topic="{{topic}}">
                        {% for section in sections|sort(attribute='sort') %} 
                            <li>
                                <label class="menu-label">{{section['metadata']['title']}}</label>
                                <ul>
                                    {% for topic in section['children']|sort(attribute='sort') %}
                                        {% if topic['directory']%}
                                            <li class="menu-list">
                                                <label style="padding-left:1em" class="menu-label">{{topic['metadata']['title']}}</label>
                                                <ul>
                                                    {% for stopic in topic['children']|sort(attribute='sort') %}
                                                    <li style="padding-left:1em" class="menu-list">
                                                        {% if node['path']== stopic['path'] and node['slug']== stopic['slug'] %}
                                                            <a class='active_topic is-active' href="/{{ section['slug'] }}/{{ topic['slug'] }}/{{ stopic['slug'] }}.html">{{stopic['metadata']['title']}}</a>
                                                        {% else %}
                                                            <a href="/{{ section['slug'] }}/{{ topic['slug'] }}/{{ stopic['slug'] }}.html">{{stopic['metadata']['title']}}</a>
                                                        {% endif %}
                                                    </li>
                                                     {% endfor %}
                                                </ul>
                                            </li>
                                        {% elif topic['metadata']['title']%}
                                            <li class="menu-list">
                                                {% if node['path']== topic['path'] and node['slug']== topic['slug'] %}
                                                    <a class='active_topic is-active' href="/{{ section['slug'] }}/{{ topic['slug'] }}.html">{{topic['metadata']['title']}}</a>
                                                {% else %}
                                                    <a href="/{{ section['slug'] }}/{{ topic['slug'] }}.html">{{topic['metadata']['title']}}</a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            
            <div id="content" class="column content">
               
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src='/javascript/demonstrators.js'></script>
    <script src='/javascript/edb.js'></script>
    <script>
        MathJax.Hub.Queue(
            function () {
                var formulas = document.getElementsByClassName('formula');
                for (var i = 0; i < formulas.length; ++i) {
                    var item = formulas[i];  
                    item.style.visibility = 'visible';
                }
            }
        );
    </script>
</body>
</html>