<div class="topic-content">
<div class="logo-footer">
  <div class="logos">
    <div class="logos-slide">
    {% for logo in logos %}
    <img class="logo-img" src="{{ logo }}"/>
    {% endfor %}
  </div>
  </div>
</div>
</div>
