
<div class="container scroll-container">
  <div class="scroll">
    <div class="m-scroll">
    {% for logo in logos %}
    <span class="scroll-span"><img src="{{ logo }}"/></span>
    {% endfor %}
  </div>
  </div>
</div>
