<div class='table-container {{table.units}}-units' v-if="{{table.units}}_visible">
 <div class='fixed-container {{meta.scrolling}}' style={{meta.special}}>
    <table class="data-table table is-bordered is-striped is-fullwidth">
        <thead class="fixed-thead">
            {% for heading in table.headings %} 
                <tr>
                    {%for header in heading.data %}
                        <th class="fixed-header {{header.type}}" scope="col"> {{header.data}}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in table.rows %} 
                <tr>
                    {%for column in row.data %}
                        <td class="{{column.type}}"> {{column.data}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
</div>