{% extends "layout.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class='topic-content'>
        {{content}}
    </div>

    <div id="topics">
        <hr/>
        <h3>Related topics</h3>
        <div class='field is-grouped is-grouped-multiline'>
            {% for section in related|sort(attribute='sort') %} 
                {% for topic in section.children|sort(attribute='sort') %} 
                    {% if topic['is_topic'] %}
                    <div class='control has-text-centered'>

                        
                        <a class="button is-warning are-large is-fullwidth" href="{{topic['slug']}}.html">{{topic['metadata']['title']}}</a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}          
        </div>
    </div>
    
{% endblock %}