@primary-color: red;
@hi_blue: #465b79;
@hi_dark: rgb(52, 58, 64);
@hi_light: #028da8;
@er_accent: #ffdd57; //#e6af2e
@er_super_light: #eceef1;
@std_pad: 1rem;
@lg_pad: 3rem;

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @hi_dark;
}

html,
body {
    height: 100%;
}

#navigation {
    padding-top: 0px;
}

aside {
    padding: @std_pad;
}

.formula {
    visibility: hidden;
}

.content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 60px;
    transition: margin-left 0.25s;
}

.topic-content {
    padding: @std_pad;
    padding-left: @lg_pad;
    padding-right: @lg_pad;
}

.search-results,
.topic-list {
    margin-top: @std_pad;
}

#topics {
    padding: @std_pad;
    padding-left: @lg_pad;
    padding-right: @lg_pad;
    margin: 0px;

    a {
        word-wrap: break-word !important;
    }
}

#units-toggle {
    padding-right: @std_pad;
}

.sidebar {
    min-height: 100vh;
    padding-top: 50px;
    overflow: auto;
    box-shadow: rgb(68, 68, 68) 1px 1px 2px 0px;

    background-color: @hi_blue;

    .menu-label {
        color: @er_accent;
    }

    .menu-list a {
        color: @er_super_light;
        text-decoration: none;
    }

    .menu-list a:hover {
        color: @hi_blue;
    }

    .menu-label:not(:last-child) {
        margin-bottom: auto;
    }
}




// sidebar is hidden below touch size (1023
@media (min-width: 1024px) {
    #content {
        padding-left: 450px;
    }

    .sidebar {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;

    }

    .sticky_search {
        border-bottom: solid 1px darken(@hi_blue, 10%);
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        padding-top: @std_pad;
        top: 0;
        padding-bottom: @std_pad;
        z-index: 5000;
        margin-top: 0px;
        background-color: @hi_blue
    }

}




h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2.5rem !important;
}

h3 {
    font-size: 2rem !important;
}

ul {
    padding-left: 0rem !important;
}

.small {
    font-size: 0.75rem !important;
}

a.is-active {
    background-color: @er_accent  !important;
    color: @hi_dark  !important;
}

caption {
    font-size: 2rem !important;
    color: @hi_dark;
    text-align: left;
    caption-side: top;
}

.is-viewport-height {
    height: 100vh;
}

.columns {
    &.is-fullheight {
        flex: 1;

        .column {
            overflow-y: auto;
        }
    }
}

.pad-horizontal {
    padding-left: @std_pad;
    padding-right: @std_pad;
}



#main-nav {
    background-color: @hi_dark  !important;
    box-shadow: rgb(68, 68, 68) 1px 1px 2px 0px;

    h2 {
        color: @er_super_light  !important;
        font-size: larger !important;
        margin-left: 10px;
    }

    .navbar-burger {
        color: @er_super_light  !important;
    }
}




.topic-source {
    text-align: right;
    font-size: smaller;
    padding: @lg_pad;

    .date {
        font-style: italic
    }

}

/**************************************
 * LaTex / Formula Styles
***************************************/
.formula {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.equation-label {
    float: left;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}


/**************************************
 * Table Styles
***************************************/
/* Data Table Sticky header and scrollbar */
.fixed-header {
    position:sticky;
    top:0;
}
.fixed-container {
    width: 100%;
    height: 400px;
    overflow:auto;
}
.fixed-thead {
    position:sticky;
    top:0;
    background: #49d4ef !important;
}
.not-fixed-thead { 
    background: #49d4ef !important;
}
.not-fixed-header tbody tr {
    width: 100%;
}

/* Table column types */
td.numeric {
    font-family: monospace;
    text-align: right !important;
}

th.numeric {
    text-align: right !important;
}

.small-heading {
    font-size: smaller;
}

/**************************************
 * Chart Styles
***************************************/

.chart-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}


/**************************************
 * Ad Styles
***************************************/
.go {
    box-shadow: 2px 4px 10px #333;
    padding-left: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.go-content {
    display: flex;
    align-items: center;
}

.go-image {
    flex-grow: 0 0 500px;
}

.go-body {
    flex-grow: 0 1 500px;
    padding: 15px;

}

.go-price {
    flex-grow: 0;
    padding: 15px;
}


.go img {
    min-width: 200px;

}

.go-title {
    font-size: 16pt !important;
    color: black !important;
    font-weight: bold;
}

.go-description {
    font-size: smaller;
    color: #666;
    text-align: justify;
}

.go-link {
    font-size: smaller;
    margin-top: 15px;
}

@media (max-width: 767px) {

    .go-price,
    .go-image {
        display: none;
    }
}


/**********************************
Friction Loss styles
**********************************/
.reference_flow {
    background-color: #ffff99;
}


.current_mark {
    box-shadow: 10px 10px 8px #888888;
}

[v-cloak] {
    display: none;
}

