@primary-color: red;
@hi_blue: #465b79;
@hi_dark: #2c3e50;
@hi_light: #028da8;
@er_accent: #e6af2e;
@er_super_light: #eceef1;

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @hi_dark;
}

.content {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
    transition: margin-left 0.25s;
}


/**************************************
 * LaTex / Formula Styles
***************************************/
.formula {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/**************************************
 * Data Table Styles
***************************************/
td.numeric {
    font-family: monospace;
    text-align: right !important;
}

th.numeric {
    text-align: right !important;
}